<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <appSettings>
    <add key="AppDir" value="BSCRM"/>
    <add key="CRMDB" value="Data Source=jsjdata;User Id=gc;Password=gc;Persist Security Info=True;"/>
    <add key="BSCRMUrl" value="http://192.168.7.5/BSCRM/login.aspx"/>
    
        <!--<add key="BSCRMUrl" value="http://localhost:1935/BSCRM/login.aspx"/>-->
  </appSettings>
</configuration>