<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <appSettings>

   <add key="CRMDB" value="Data Source=huifu;User Id=huifu2;Password=huifu2;Persist Security Info=True;"/>
    <!--600000-->
   <add key="AIRLINETHREADING" value="YES"/>
   <add key="TIMEINTERVAL" value="30000"/>
    
   <add key="FACTORYNAME" value="BLL.Ctrip.CtripRouteFactory"></add>
   <add key="CTRIPPATH" value="../../RegexExpressionConfig/CtripRegexXml.xml"/>
   <add key="CTRIPURL"  value="http://flights.ctrip.com/Domestic/ShowFareFirst.aspx?DCity1={0}&amp;ACity1={1}&amp;DCityName1=&amp;ACityName1=&amp;DDate1={2}&amp;ClassType=&amp;PassengerQuantity=1&amp;SendTicketCity=&amp;Airline=&amp;PassengerType=ADU&amp;FlightSearchType=S&amp;"/>
    <add key="CTRIPSUBURL"  value="http://flights.ctrip.com/Domestic/showallsubclass.aspx?DCity1={0}&amp;ACity1={1}&amp;DDate1={2}&amp;passengerQuantity=&amp;PassengerType=ADU&amp;SearchType=S&amp;RouteIndex=1&amp;ClassType=&amp;Flight1={3}&amp;fltID="/>

    <add key="DIRECTORY" value="../../RegexExpressionConfig"/>

   <add key="TRAVELSKY" value = "(?&lt;={0}=)([^&amp;]+)" />
  </appSettings>

</configuration>
