<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <connectionStrings>
    <!--Data Source=jsjdevelp;User Id=huifu2;Password=huifu2;Persist Security Info=True;-->
    <add name="dbcon" connectionString="Data Source=vintest;User Id=lt;Password=admin;Persist Security Info=True;"/>
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" timeout="1" cookieless="false" />
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add path="ajaxpro/*.ashx" verb="POST,GET" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/>
      <add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="PROGWEBCONTORLS_COMMONFILEPATH" value="/MyFramework/Runtime/"/>
    <!--55555555555555555555555555555555555555555555555555555555555555555555555 -->
    <add key="AppDir" value="MyFramework"/>
    <add key="DB" value="Data Source=orcl;User Id=lt;Password=lt;Persist Security Info=True;"/>
    <add key=""/>
    <add key="PageBeginControl" value="\MyFramework\SystemFrame\PageBegin.ascx"/>
    <add key="PageEndControl" value="\MyFramework\SystemFrame\PageEnd.ascx"/>
    <add key="ShowPageHeader" value="1"/>
    <add key="PictureFilePath" value="/MyFramework/Upload/HotelPicture/"/>
    <add key="UploadedFliesPath" value="/MyFramework/Upload/Files/"/>
    <add key="UploadITFliesPath" value="/MyFramework/Upload/IntlTicket/"/>
    <add key="ImagePathCuisineMenuImage" value="/MyFramework/Upload/CuisineMenuImage/"/>
    <add key="ImagePathVendorImage" value="/MyFramework/Upload/VendorImage/"/>
    <add key="ImagePathPictureUrlImage" value="/MyFramework/Upload/ContractVendorPicture/"/>
    <add key="ImagePathtRecommendImage" value="/MyFramework/Upload/ContractRecommendPicture/"/>
    <add key="PictureFilePathHotelLogo" value="/MyFramework/Upload/HotelPicture/"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>