<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<connectionStrings>
		<!--Data Source=jsjdevelp;User Id=huifu2;Password=huifu2;Persist Security Info=True;-->
		<add name="dbcon" connectionString="Data Source=vintest;User Id=lt;Password=admin;Persist Security Info=True;"/>
	</connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			 <add path="ajaxpro/*.ashx" verb="POST,GET" type="AjaxPro.AjaxHandlerFactory, AjaxPro.2"/> 
			<add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" validate="false"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<appSettings>
		<add key="PROGWEBCONTORLS_COMMONFILEPATH" value="/MyFramework/Runtime/"/>
		<!--55555555555555555555555555555555555555555555555555555555555555555555555 -->
		<add key="AppDir" value="MyFramework"/>
		<add key="DB" value="Data Source=orcl;User Id=lt;Password=lt;Persist Security Info=True;"/>
		<add key=""/>
		<add key="PageBeginControl" value="\MyFramework\SystemFrame\PageBegin.ascx"/>
		<add key="PageEndControl" value="\MyFramework\SystemFrame\PageEnd.ascx"/>
		<add key="ShowPageHeader" value="1"/>
		<add key="PictureFilePath" value="/MyFramework/Upload/HotelPicture/"/>
		<add key="UploadedFliesPath" value="/MyFramework/Upload/Files/"/>
		<add key="UploadITFliesPath" value="/MyFramework/Upload/IntlTicket/"/>
		<add key="ImagePathCuisineMenuImage" value="/MyFramework/Upload/CuisineMenuImage/"/>
		<add key="ImagePathVendorImage" value="/MyFramework/Upload/VendorImage/"/>
		<add key="ImagePathPictureUrlImage" value="/MyFramework/Upload/ContractVendorPicture/"/>
		<add key="ImagePathtRecommendImage" value="/MyFramework/Upload/ContractRecommendPicture/"/>
		<add key="PictureFilePathHotelLogo" value="/MyFramework/Upload/HotelPicture/"/>
		<add key="conHPriceRange" value="50"/>
		<add key="conHMarkRange" value="10"/>
		<add key="CompanyName" value="北京金色世纪旅行社有限公司"/>
		<add key="CompanyAccount" value="230701040005501"/>
		<add key="OpAcctBlankName" value="中国农业银行北京北苑支行"/>
		<add key="FaxTitle" value="北京金色世纪旅行有限公司 统计结算部 FAX： 010-84908095 TEL： 010-84926666"/>
		<add key="PostAddress" value="北京朝阳区来广营西路五号森根国际2E座 北京金色世纪旅行社有限公司财务部收 邮编100012"/>
		<add key="conCustomer_Dividen" value="10"/>
		<add key="FaxFilePath" value="/MyFramework/FaxFile/"/>
		<add key="ReserveRoomNum" value="2"/>
		<add key="ReserveRmDyNum" value="10"/>
		<add key="ReserveDayNum" value="100"/>
		<add key="LowestPrice" value="50"/>
		<add key="TaxRate" value="0.2"/>
		<add key="ExportLowestPrice" value="600"/>
		<add key="ProduceFee" value="1.8"/>
		<add key="ProduceFeeRete" value="0.003"/>
		<add key="conCompanyCardNo" value="11211"/>
		<add key="EAppDir" value="/MyFramework/Ebooking"/>
		<add key="EPageBeginCtr" value="/MyFramework/Ebooking/UserControl/PageBegin.ascx"/>
		<add key="ESystemAdminUserID" value="2"/>
		<add key="EPictureFilePathHotelLogo" value="/MyFramework/Upload/HotelPicture/"/>
		<add key="EPictureFilePath" value="/MyFramework/Upload/HotelPicture/"/>
		<add key="EtermIsOpen" value="1"/>
		<add key="TrvelSkyURL" value="http://172.16.8.8/TravelSkyNew/Default.aspx"/>
		<add key="FixPayEmployeeId" value="1042"/>
		<add key="NetPayBackUrl" value="http://gc.jsj.com.cn/MyFramework/Ticket/TicketFinance/PayBack.aspx"/>
		<add key="NetPayUrl" value="https://payment.chinapnr.com/telepayGet/TransGet"/>
		<add key="NetPayMerId" value="880752"/>
		<add key="TransNormolRateAirliner" value="G5|NS|HO|OQ|EU"/>
		<add key="ChartHttpHandler" value="Storage=memory;Timeout=180;Url=~/temp/;"/>
		<add key="TicketBookingCaption" value="1、客人确定出票，但我们无法出票：\n 答：由于我公司现在无法为您出票，机票需要帮您暂订, 折扣和机位都是以出票时为准,　您看可以吗？\n \n2、客人预订但不确定出票：\n答：机票需要帮您暂订, 折扣和机位都是以您通知出票时为准, 请您尽快来电通知我们出票，以免订座取消！&#xA;      \n \n3、申请折扣提醒：\n答：我们将尽量帮您申请低折票，但有可能低折票未申请下来现有折扣也会升高，稍后我公司会联系您告知申请结果。\n\n4、折以下特价票风险提示：\n答：您所预订的4折票需进行申请，如申请到将尽快为您出票，未申请到我公司会与您联系！"/>
		<add key="UnionPaySecretKey" value="EC2A3D97FBBB421D"/>
		<add key="MerchantNo" value="202020000059"/>
		<add key="TerminalNo" value="05023141"/>
		<add key="PassWD" value="EC2A3D97FBBB421D"/>
		<add key="WebServiceUrl" value="http://121.8.142.50/OrderServerWS"/>
		<add key="IsPatBack" value="0"/>
		<add key="ABE" value="http://172.16.8.8/TravelSkyNew/TravelJSJ.asmx"/>
		<!-- 商户编号 -->
		<add key="MerchantId" value="999110045110007"/>
		<!-- 终端编号 -->
		<add key="TerminalId" value="01000442"/>
		<!-- 代理地址 -->
		<add key="PorxyUrl" value="http://192.168.0.112:9000"/>
		<!--网银在线商户号和终端号-->
		<add key="WyRequestUrl" value="http://123.124.241.77/MyFramework/Ticket/TicketFinance/WangYing/WyAsynchronismQuery.aspx"/>
		<add key="WyMerchantId" value="30000742"/>
		<add key="WyTerminalId" value="00000001"/>
		<add key="WyMD5Key" value="jsj"/>
		<add key="IsStraightDown" value="1"/>
		<add key="UploadAieportImgPath" value="/MyFramework/Upload/ITAriportPicture/"/>
		<!--酒店自动分配时间间隔-->
		<add key="Hotel_Confirmer_TimeInterval" value="15"/>
		<!-- 航信接口HBE_OfficeID -->
		<add key="HBE_OfficeID" value="BJS968"/>
		<!-- 航信接口HBE_Password -->
		<add key="HBE_Password" value="tr619p"/>
		<!-- 航信接口地址 -->
		<add key="HBE_Http_Path" value="http://hbe.sohoto.com/HBE/servlet/tdplogicbookingcontroller"/>
		<!-- 航信酒店图片下载地址 -->
		<add key="HBE_Pictrue_DownloadPath" value="http://www.sohoto.com/TDPWeb/htl/images/imagesHotel/"/>
		<!-- 航信酒店房型查询时间间隔 /月-->
		<add key="HBE_TimeSpan_Moths" value="1"/>
		<!-- 航信酒店最早入住时间-->
		<add key="HBE_BookRule_CheckIn" value="14:00"/>
		<!-- 航信酒店最晚离店时间-->
		<add key="HBE_BookRule_CheckOut" value="12:00"/>
		<!-- 航信酒店最晚保留时间-->
		<add key="HBE_BookRule_Hold" value="18:00"/>
		<!-- 航信酒店订单状态自动刷新时间间隔 /秒-->
		<add key="HBE_OrderStatus_AutoRun" value="300"/>
		<!-- 航信酒店订单状态自动审核时间 -->
		<add key="HBE_OrderCheck_AutoRun" value="08:00"/>
		<!-- 航信酒店联系人 -->
		<add key="HBE_ContactName" value="test"/>
		<!-- 航信酒店预订默认联系方式 -->
		<add key="HBE_DefaultContact" value="84926666-8230 84296666-8204"/>
		<!-- 航信酒店预订默认传真 -->
		<add key="HBE_DefaultFax" value="84900068"/>
		<!-- 航信酒店预订默认分红分界点 -->
		<add key="HBE_DefaultPrice" value="30"/>
		<!-- 航信酒店预订默认分红 -->
		<add key="HBE_DefaultDividen" value="10"/>
		<!-- 航信酒店缓存月份-->
		<add key="HBE_PropertyCache_DateMonth" value="2M"/>
		<!-- 航信酒店默认发送邮件账号-->
		<add key="HBE_DefaultEMail" value="jdqr@jsj.com.cn"/>
		<!-- 航信酒店IBE查询间隔 -->
		<add key="HEB_Read_Range" value="1000"/>
		<!-- 是否可以使用航信 -->
		<add key="IS_ORDER_HEB" value="1"/>
		<!-- 汇通天下接口帐号 -->
		<add key="HUBS_user" value="ids_207_990184_jinseshiji_XX"/>
		<!-- 汇通天下接口密码 -->
		<add key="HUBS_pass" value="990184_XX"/>
		<!-- 汇通天下接口地址 -->
		<add key="HUBS_Http_Path" value="http://sw.hubs1.net/servlet/SwitchReceiveServlet"/>
		<!-- 汇通天下接口超时时间 -->
		<add key="HUBS_TimeOut" value="30000"/>
		<!-- 汇通天下接口图片帐号 -->
		<add key="HUBS_Img_User" value="ids_207_990184_jinseshiji_XX"/>
		<!-- 汇通天下接口图片密码 -->
		<add key="HUBS_Img_Pass" value="990184_XX"/>
		<!-- 汇通天下接口IATA.NO -->
		<add key="HUBS_iata" value="990184"/>
		<!-- 汇通天下接口渠道 -->
		<add key="HUBS_channel" value="Website"/>
		<!-- 汇通天下接口价格时间间隔/日 -->
		<add key="HUBS_TimeSpan_Day" value="15"/>
		<!-- 汇通天下酒店默认分红 -->
		<add key="HUBS_DefaultDividen" value="10"/>
		<!-- 汇通天下酒店默认佣金 -->
		<add key="HUBS_DefaultCommission" value="10"/>
		<!-- 汇通天下自签酒店默认佣金 -->
		<add key="HUBS_DefaultCommission_Lower" value="8"/>
		<add key="iis_webapp.WebAppServiceType" value="http://localhost:8266/MyFramework/Mydemo/WCF/Service.svc"/>
	<add key="travelSky.TravelJSJ" value="http://172.16.8.8/travelSkynew/TravelJSJ.asmx"/>
	</appSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
</configuration>
